body {
    width: 98%;
    margin: 0 auto;
    padding: 10px;
  }
  
  header {
    background-color: #ffcc00;
    height: 150px;
    flex-grow: 1;
    margin: 20px;
    padding: 20px;
  }

  main {
    display: flex;
    margin: 20px;
    gap: 20px;
  }
  
  aside {
    background-color: #9b59b6;
    height: 300px;
    width: 300px;
    padding: 20px;
  }

  section {
    background-color: #1abc9c;
    height: 300px;
    width: 876px;
    flex-grow: 1;
    padding: 20px;
  }
  
  footer {
    background-color: #e74c3c;
    height: 100px;
    margin: 20px;
  }