
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("images/Daniel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav {
    background-color: #333333cf;
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: white;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}
nav a:hover {
    background-color: #575757;
}
main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}
section {
    background-color: #3333336c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
}
.song {
    background-color: #f8f9fa65;
    padding: 10px;
    border-radius: 10px;
}
img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
}
@media (max-width: 1023px) {
    main {
        justify-content: space-evenly;
    }
    section {
        width: 45%;
    }
}
@media (max-width: 480px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    section {
        width: 80%;
    }
}
